.item-list {
    margin: 10px 0;
    max-height: 70vh;
    overflow-y: scroll;
}

.item-list .list-group-item {
    cursor: pointer;
}

.item-list .list-group-item:hover {
    background-color: #444;
}
